<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testng-Suite">
    <test name="Clear Trip Test">
        <classes>
            <class name="tests.SignInTest"/>
            <class name="tests.HotelBookingTest"/>
            <class name="tests.FlightBookingTest"/>
        </classes>
    </test>
</suite>